header
  nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href="/") Harmonia Wellness
    button.navbar-toggler(type="button"
                          data-toggle="collapse"
                          data-target="#navbarCollapse"
                          aria-controls="navbarCollapse"
                          aria-expanded="false"
                          aria-label="Toggle navigation")
      span.navbar-toggler-icon

    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item: a.nav-link(href="/") home
        li.nav-item: a.nav-link(href="/about") about
        li.nav-item: a.nav-link(href="/credential") credential
        li.nav-item: a.nav-link(href="/services") services
        li.nav-item: a.nav-link(href="/testimonials") testimonials
        li.nav-item: a.nav-link(href="/contact-us") contact-us
        li.nav-item: a.nav-link(href="/user/signup") signup
        li.nav-item: a.nav-link(href="/user/login") login        
        li.nav-item: a.nav-link(href="/book") book
